{:paths ["src" "resources"]

 :deps
 {org.clojure/data.xml {:mvn/version "0.0.8"}}

 :jolt/native
 [{:name "libxml2"
   :linux ["libxml2.so.2" "libxml2.so"]}]

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {com.lambdaisland/cli {:mvn/version "1.31.133"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.91.1392"}
    org.clojure/test.check {:mvn/version "1.1.3"}}}}}
